<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!--
            All appSettings are made available to your Node.js app via environment variables
            You can access them in your app through the process.env object.
        -->
            
            <!-- process.env.<key> -->
        
       <!-- Unconmment the below appSetting if you'd like to use a Virtual Directory -->
       <add key="NODE_ENV" value="development" />
       <add key="PORT" value="333" />
	</appSettings>
    <system.webServer>
        <!-- Remove the modules element if running on IIS 8.5-->

                 
        <!-- 
            Before the handlers element can work on IIS 8.5
            follow steps listed here https://github.com/tjanczuk/iisnode/issues/52 
        -->                 
        <handlers>
			<add name="iisnode" path="*.js" verb="*" modules="iisnode" />
            <!-- Uncomment below handler if using Socket.io -->
            <!--<add name="iisnode-socketio" path="server.js" verb="*" modules="iisnode" />-->
        </handlers>

		<!-- use URL rewriting to redirect the entire branch of the URL namespace
		to hello.js node.js application; for example, the following URLs will 
		all be handled by hello.js:
		
			http://localhost/node/express/myapp/foo
			http://localhost/node/express/myapp/bar
			
		-->

		<rewrite>
		  <rules>
			<rule name="server">
			  <match url="/*" />
			  <action type="Rewrite" url="server.js" />
			</rule>
		  </rules>
		</rewrite>
		
    </system.webServer>
</configuration>